.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.left, .right {
  flex: 1;
  padding: 20px;
}

.heading {
  font-size: 24px;
  font-weight: bold;
}

.submitButton {
  padding: 10px 20px;
  max-width: 30%;
  background-color: #ff4500;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1% auto 0;
}

.submitButton:hover {
  background-color: #fd9e78;
}

.submitButton:active {
  transform: translateY(5%);
}
